*{
  margin:0;
  padding: 0;
}

html,body{
height: 100%;
background: #222;
}

#cover{
background-size: cover;
color: white;
height: 100vh;
text-align: center;
display: flex;
align-items: center;
}

#cover-caption{
  width: 100%
}

.section-content{
  padding: 5rem 0;
}

img{
  width: 150px;
  height: 216px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin-right: 100px;
}

.card{
  padding: 1rem;
}

.about-text{
  background: rgba(0,0,0,0.8);
  color: white;
  padding: 1.875rem;
}
/*footer*/
#footer-main{
  background: #222;
  color: white;
  font-size: 0.8rem;
  padding:2.5rem 0;
  list-style: none;
}

#footer-main a{
  color: white;
  list-style: none;
}

/* Slider */
.container{
  height: 270;
}

#slider{
  width:100%;
  height:270px;
  position:relative;
  overflow:hidden;
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides{
  width:400%;
  height:100%;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}
.slide img{
  width:100%;
  height:100%;
}
.slide img{
  width:100%;
  height:100%;
}
.image{
  width:100%;
  height:100%;
}
.image img{
  width: 187.5px;
  height: 270px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  float: right;
}

/* Legend *horizontal-blue-pic**/
.legend{
  border:350px solid transparent;
  border-left:700px solid rgba(52, 73, 94, .7);
  border-bottom:0;
  position:absolute;
  bottom:0;
  margin-left:100px;
}

/* Contents */
.content{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}
.content-txt{
  width:315px;
  height:150px;
  float:left;
  position:relative;
  top:25px;
  -webkit-animation:content-s 7.5s infinite;
  -moz-animation:content-s 7.5s infinite;
  animation:content-s 7.5s infinite;
  margin-left:110px;
}
.content-txt h1{
  font-family:Intro;
  font-size:24px;
  color:#fff;
  text-align:left;
  padding-bottom:20px;
}
.content-txt h2{
  font-family:Quicksand;
  font-weight:normal;
  font-size:14px;
  font-style:italic;
  color:#fff;
  text-align:left;
}

/* Switch */
.switch{
  width:120px;
  height:10px;
  position:absolute;
  bottom:50px;
  z-index:99;
  left:30px;
}
.switch > ul{
  list-style:none;
}
.switch > ul > li{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#333;
  float:left;
  margin-right:5px;
  cursor:pointer;
  margin-top: 43px;
}
.switch ul{
  overflow:hidden;
}
.on{
  width:100%;
  height:100%;
  border-radius:50%;
  background:#f39c12;
  position:relative;
  -webkit-animation:on 30s infinite;
  -moz-animation:on 30s infinite;
  animation:on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-top:0%;
  }
  21%{
    margin-top:0%;
  }
  25%{
    margin-top:-500px;
  }
  46%{
    margin-top:-500px;
  }
  50%{
    margin-top:-1000px;
  }
  71%{
    margin-top:-1000px;
  }
  75%{
    margin-top:-1500px;
  }
  96%{
    margin-top:-1500px;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-top:0%;
  }
  21%{
    margin-top:0%;
  }
  25%{
    margin-top:-500px;
  }
  46%{
    margin-top:-500px;
  }
  50%{
    margin-top:-1000px;
  }
  71%{
    margin-top:-1000px;
  }
  75%{
    margin-top:-1500px;
  }
  96%{
    margin-top:-1500px;
  }
}
@keyframes slide{
  0%,100%{
    margin-top:0%;
  }
  21%{
    margin-top:0%;
  }
  25%{
    margin-top:-500px;
  }
  46%{
    margin-top:-500px;
  }
  50%{
    margin-top:-1000px;
  }
  71%{
    margin-top:-1000px;
  }
  75%{
    margin-top:-1500px;
  }
  96%{
    margin-top:-1500px;
  }
}

@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}

@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

/*end carousel*/

h2.shadow2{
font-size: 40px; 
color: navajowhite;
text-shadow: 2px 3px 2px black, 0 0 50px black;
text-align: center;
font-family: 'Intro';
}

h2.shadow4{
font-size: 25px;
color: navajowhite;
text-shadow: 2px 3px 2px black, 0 0 25px black;
text-align: center;
position: relative;
font-family: 'Intro';
}

.parallax {
  /* The image used */
  background-image: url("../images/deer.jpg");

  /* Set a specific height */
  min-height: 300px; 
  max-height: 400px;
  height: 500px;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card{
  background: rgba(52, 73, 94, .7);
  color:#ffff;
/*  min-width: 187.5px;
  max-width: 187.5px;*/
}

.card-deck{
  justify-content: center;   
}

@media(max-width: 767px)
{

  #section-cards img{
  width: 100%;
  max-width: 100%;
  }
}